{
  "presets": ["babel-preset-env", "next/babel"],
  "plugins": [
    "transform-decorators",
    [
      "module-resolver",
      {
        "alias": {
          "constants": "./shared/constants",
          "components": "./shared/components",
          "server": "./server"

        }
      }
    ]
  ]
}
